<html ng-app="cdcApp">

<% include ../includes/header %>

<body class="home">

<% include ../includes/menu %>

<!-- inicio da listagem em si-->
<section id="index-section" class="container middle" ng-controller="HomeController">

    <ul id="home-highlight-collection">
        <%for(i=0; i<3; i++) {%>
        <li class="col-left">
            <a href="linkDetalhe" class="block clearfix">
                <img width="170" height="240" src="urlImagem" alt="<%=livros[i].titulo%>" title="<%=livros[i].titulo%>"/>

                <h2 class="product-title"><%=livros[i].titulo%></h2>
                <small class="buy-button">Lan&#231;amento!</small>
            </a>
        </li>
        <%}%>
    </ul>

    <h1 class="aviso">Site de exemplo do curso de Nodejs</h1>
    <h1 class="cdc-call">Últimos dias com os preços promocionais. Aproveite!</h1>

    <ul class="clearfix book-collection">
        <%for(i=0; i<livros.length; i++) {%>
            <li>
                <a href="linkDetalhe" class="block clearfix">
                    <h2 class="product-title"><%=livros[i].titulo%></h2>
                    <img width="143"
                         height="202"
                         src="<%=livros[i].url_img%>"
                         alt="<%=livros[i].titulo%>"
                         title="<%=livros[i].titulo%>"/>
                    <small class="buy-button">Compre</small>
                </a>
            </li>
        <%}%>

    </ul>


    <h2 class="cdc-call">Diferenciais da Casa do Código</h2>

    <ul id="cdc-diferenciais" class="clearfix">
        <li class="col-left">
            <h3>E-books sem DRM. Leia onde quiser</h3>

            <p>
                <span class="sprite" id="sprite-drm"></span> Nossos e-books não
                possuem DRM, ou seja, você pode ler em qualquer computador, tablet
                e smartphone.
            </p>
        </li>
        <li class="col-right">
            <h3>Autores de renome na comunidade</h3>

            <p>
                <span class="sprite" id="sprite-renome"></span> Autores que
                participam ativamente na comunidade com Open Source, listas de
                discussão, grupos e mais.
            </p>
        </li>
        <li class="col-left">
            <h3>Receba atualizações dos e-books</h3>

            <p>
                <span class="sprite" id="sprite-atualizacoes"></span> Quando você
                compra um e-book, automaticamente tem direito às atualizações e
                correções dele.
            </p>
        </li>
        <li class="col-right">
            <h3>Livros com curadoria da Caelum</h3>

            <p>
                <span class="sprite" id="sprite-caelum"></span> Desenvolvedores
                experientes que avaliam e revisam os livros constantemente.
            </p>
        </li>
    </ul>


</section>

<!-- fim-->

<% include ../includes/footer %>

<script src="/socket.io/socket.io.js"></script>

<script>
var socket = io();
socket.on('novaPromocao', function(data){
    alert("Livro em promoção " + data.livro.id);
});
</script>

</body>
</html>
